.carousel-inner { 
    height: 75vh;
} 
  
.item.active { 
    height: 75vh;
} 
  
.item img { 
    object-fit: contain; 
    height: 100%!important; 
} 

.btnDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.fixBotton {
    margin-bottom: 0;
}